
Martes_prog/bin/Debug/Martes_prog.exe
Martes_prog/bin/Debug/Martes_prog.exe
Martes_prog/bin/Debug/Martes_prog.pdb
Martes_prog/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.pdb
*.exe
